package {{.Package}}

{{if .ImportTime}}
import (
	"time"
)
{{end}}

// {{.ModelName}} {{.Comment}}
type {{.ModelName}} struct {
	{{- range .Fields}}
	{{.Name | toCamelCase}} {{.Type}} {{.Tag}} // {{.Comment}}
	{{- end}}
}

// TableName 表名
func (m *{{.ModelName}}) TableName() string {
	return "{{.TableName}}"
}